.chart {

  width: 280px;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #E2E2E2;
  font-family: $font-family;
  @include clearfix;

  &__svg {
    display: block;
    margin: 0 auto 0.5em;
  }

  &__title {
    text-anchor: middle;
    font-weight: 700;
    fill: #999999;
    font-size: 18px;
  }

  &__sum {
    text-anchor: middle;
    font-weight: 400;
    fill: #303030;
    font-size: 22px;
  }

  &__label {
    width: 50%;

    &--left {
      float: left;
      text-align: left;
    }
    &--right {
      float: right;
      text-align: right;
    }

    &-name {
      font-size: $chart-label-font-size;
      font-weight: 700;
    }

    &-percentage {
      font-size: $chart-label-font-size;
      font-weight: 400;
      margin-right: 0.5em;
    }

    &-value {
      font-size: $chart-label-font-size;
      font-weight: 400;
      color: #9A9A9A;
    }

  }

  &__guide-line {
    stroke-width: 3px;
    stroke-width: 'round';
    stroke: #999999;
  }


}